h1.en {
    font-family: 'Roboto Slab';
    font-size: 1em
}

h1.ta {
    font-family: 'Mukta Malar';
    font-size: 1em
}

ta {
    font-family: 'Mukta Malar';
    font-size: 1em
}

body {
    font-size: 1em;
    border: 3px solid brown;
}

