h1.en {
    font-family: 'Roboto Slab';
    font-size: 2em
}

h1.ta {
    font-family: 'Hind Madurai';
    font-size: 2em
}

h2.locta {
    font-family: 'Hind Madurai';
    font-size: 1em;
}

h2.locen {
    font-family: 'Roboto';
    font-size: 1em;
}

ta {
    font-family: 'Mukta Malar';
    font-size: 1em
}

body {
    font-family: 'Roboto';
    font-size: 1em;
    margin: 2em;
    background-color: #a2c9ff;
}

div.title {
    font-size: 1.25em;
}

div.links {
    font-size: 1.1em;
    padding: 0.75em;
    color: black
}

a:visited, a {
    color: rgb(42, 44, 165);
    text-decoration: none;
    font-weight: bold;  
}

a:hover {
    text-decoration: underline;
}

div {
    border: 3px solid rgb(42, 44, 165)n;
    text-align: center;
    padding: 1em;
}

div.logo{
    background-color: #0030b5;
    align-items: center;
    align-content: center;
}

.ta1 {
    font-family: "Hind Madurai";
}

.ta2 {
    font-family: "Anek Tamil";
}

.en1 {
    font-family: "Inter";
}

table {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

h1.en1, h1.ta1 {
    color: white;
    font-size: 2vw;
}