h1.en {
    font-family: 'Lexend';
    font-size: 2em
}

h1.ta {
    font-family: 'Anek Tamil';
    font-size: 2em
}

h2.locta {
    font-family: 'Anek Tamil';
    font-size: 1em;
}

h2.locen {
    font-family: 'Lexend';
    font-size: 1em;
}

ta {
    font-family: 'Anek Tamil';
    font-size: 1em
}

body {
    font-family: 'Lexend';
    font-size: 1em;
    margin: 2em;
    background-color: #00245E;
    text-align: center;
}

div.title {
    font-size: 1.25em;
    color: #1AC8ED;
    text-shadow: 5px 0px 5px black;
}

div.links {
    font-size: 1.1em;
    padding: 0.75em;
    color: rgb(255, 255, 255)
}

a:visited, a {
    color: rgb(243, 255, 246);
    text-decoration: none;
    font-weight: bold;  
}

h1 {
    text-align: center;
}

.ta {
    font-family: 'Anek Tamil';
}

a.link {
    font-size: 2em;
    padding: 10px;
    border-radius: 15px;
    border: 1px rgba(255, 255, 255, 0.500)
}

a.link:hover {
    text-decoration: underline;
}

img {
    border: 1em white solid;
    border-radius: 25px;
}